@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans&family=Nunito:wght@200;300;700;1000&family=Roboto+Mono:wght@500&family=Roboto:wght@100;300;400&display=swap');

body {
    background: linear-gradient(170.78deg, #3110B5 -1.24%, #46219F -1.23%, #BC8029 29.87%, #46219F 46.31%, #D69510 111.46%, #3110B5 111.47%);    margin: 0;
    overflow-x: hidden;
    color: #F5F5F5;
}

/* menu */

.navbar {
    padding: 0px 20px 0px 40px;
    background: rgba(12, 11, 11, 0.804); 
}

.navbar-toggler {
    background-color: #F2D676;

}

#menu-desplegable a {
    background: rgba(12, 11, 11, 0.3);
    color: #FFFFFF;
    font-family: roboto;
    font-weight: lighter;

}

.redes-sociales {
    margin-right: 80px;
}

.redes-sociales a {
    margin-left: 20px;
}


.dropdown-menu {
    background: rgba(12, 11, 11, 0.7); 

}

.dropdown-menu li a {
    color: #FFFFFF;
}

.nav-link {
    color: #F2D676;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: #D69510;
}

.navbar-nav >  .nav-item > .nav-link:focus {
    color: #F2D676;
}

/* presentacion */

.banner {
    background-image: url(./imagenes/usarbanner.jpg);
}

.titulo {
    padding: 0;
    margin-top: 250px;
}

.foto {
    margin: 100px 0 30px 0px;

}

.presentacion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 65px;
    line-height: 85px;
    text-shadow: black 1px 0 10px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 40px;
    text-shadow: black 1px 0 10px;
}

span {
    color: #F2D676;
    text-shadow: black 1px 0 10px;
}



.sobre-mi {
    background: rgba(12, 11, 11, 0.3);
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    margin: 100px 0 0 0;
    /* width: 800px; */
    
}

.sobre-mi p{
    color: #FFFFFF;
}


.formacion-academica {
    margin: 100px 0 0 0;
    padding: 40px 100px 40px 100px ;
    background: rgba(12, 11, 11, 0.3);
}

.formacion-academica h2 {
    margin-bottom: 30px;
}

.row {
    padding: 17px 0 0 0;
}

.amarillo {
    background: rgba(12, 11, 11, 0.3);
    border-radius: 10px;
    text-shadow: black 1px 0 10px;
}

.fecha {
    padding: 15px;
}

.institucion {
    font-weight:normal;
}

.institucion span {
    font-weight: bold;
    font-size: 20px;
}

/* habilidades */

.duras {
    margin: 100px 0 0 0;
    padding: 40px 100px 40px 100px ;
    background: rgba(12, 11, 11, 0.3);
    border-radius: 0 10px 10px 0;

}

.blandas {
    margin: 100px 0 0 0;
    padding: 40px 100px 40px 100px ;
    background: rgba(12, 11, 11, 0.3);
    border-radius: 10px 0 0 10px;
}

.barra {
    background: linear-gradient(90deg, #D69510 43.41%, #D69510 77.66%, rgba(214, 149, 16, 0.12) 77.67%, rgba(23, 94, 93, 0.398) 109.66%);
    width: 300px;
    height: 16px;

}

